
x
.bg-Teacup {
    width: 30px; height: 23px;
    background: url('css_sprites.png') -10px -119px;
}

x
.bg-Helmet {
    width: 26px; height: 19px;
    background: url('css_sprites.png') -105px -119px;
}

x
.bg-Microscope {
    width: 22px; height: 31px;
    background: url('css_sprites.png') -171px -10px;
}

x
.bg-Photo {
    width: 25px; height: 21px;
    background: url('css_sprites.png') -60px -119px;
}

x
.bg-Leaves {
    width: 26px; height: 27px;
    background: url('css_sprites.png') -119px -52px;
}

x
.bg-youtube {
    width: 32px; height: 22px;
    background: url('css_sprites.png') -119px -10px;
}

x
.bg-vk {
    width: 35px; height: 35px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-twitter {
    width: 34px; height: 34px;
    background: url('css_sprites.png') -65px -10px;
}

x
.bg-facebook {
    width: 34px; height: 34px;
    background: url('css_sprites.png') -10px -65px;
}

x
.bg-kavch {
    width: 13px; height: 12px;
    background: url('css_sprites.png') -171px -61px;
}

x
.bg-log_footer {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -64px -65px;
}